@use "../../scss/variables" as vars;

.root-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
}

.toolbar {
  background-color: vars.$dark-gray;
  color: vars.$broken-white;
}
