<app-ticker-item-container>
  <div class="row">
    <div class="col">
      <span class="ticker-title fit-text">competitie</span>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-3">
      <img src="assets/arrow.png" alt="Right pointing arrow" class="img-fluid left-arrow">
    </div>
    <div class="col-4">
      <qr-code
        [value]="partakeUrl"
        [backgroundAlpha]="0"
        foreground="white"
        [canvas]="false"
        [size]="250"
        class="qr-code"
      ></qr-code>
    </div>
    <div class="col-3">
      <img src="assets/arrow.png" alt="Left pointing arrow" class="img-fluid right-arrow">
    </div>
  </div>
  {{ fitText() }}
</app-ticker-item-container>
