@use "../../scss/variables" as vars;

.footer {
  background-color: vars.$dark-gray;
  color: vars.$light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 2em;

  a {
    margin: 0 0.5em;
    color: vars.$light-gray;
    text-decoration: underline;

    &:hover {
      color: vars.$translucent-broken-white;
    }
  }
}
