@use "../../scss/variables" as vars;

.footer {
  background-color: vars.$dark-gray;
  color: vars.$light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: vars.$footer-height;
  width: 100%;

  a {
    margin: 0 0.5em;
    color: vars.$light-gray;
    text-decoration: underline;
  }

  @media (max-width: 576px) {
    & {
      position: fixed;
      z-index: 1;
      bottom: 0;
    }
  }
}
