<form *ngIf="form" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()">

  <!--    <mat-error *ngIf="formError" class="mb-3">{{ formError }}</mat-error>-->

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Game Id</mat-label>
        <input matInput [formControl]="form.controls.gameId"/>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Background Image</mat-label>
        <input matInput [formControl]="form.controls.backgroundImage"/>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Background Color</mat-label>
        <input matInput [formControl]="form.controls.backgroundColor"/>
      </mat-form-field>
      <input type="color" [formControl]="form.controls.backgroundColor" class="ms-2">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Header Image</mat-label>
        <input matInput [formControl]="form.controls.headerImage"/>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Border Color</mat-label>
        <input matInput [formControl]="form.controls.borderColor"/>
      </mat-form-field>
      <input type="color" [formControl]="form.controls.borderColor" class="ms-2">
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Font Color</mat-label>
        <input matInput [formControl]="form.controls.fontColor"/>
      </mat-form-field>
      <input type="color" [formControl]="form.controls.fontColor" class="ms-2">
    </div>
  </div>

  <button type="submit" mat-raised-button [disabled]="form.invalid">Submit</button>
</form>
