<app-h3 [marginTop]="true">High scores</app-h3>

@if ((divisions$ | async)?.length === 0) {
<p>
  No divisions have been set up for this game yet. Contact an admin to set one
  up.
</p>
} @else {
<ng-container *ngFor="let division of divisions$ | async">
  @if ((getScores$(division.id) | async)?.length === 0) {
  <p>No scores have been posted yet for this game.</p>
  } @else {
  <table
    mat-table
    [dataSource]="getScores$(division.id)"
    class="mat-elevation-z8"
  >
    <!-- Rank -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let score; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let score">{{ score.username }}</td>
    </ng-container>

    <!-- Score -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef>Score</th>
      <td mat-cell *matCellDef="let score">{{ score.points }}</td>
    </ng-container>

    <!-- timestamp -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let score">
        {{ score.timestamp | date: "d MMM y, HH:MM" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <a mat-raised-button routerLink="/score" color="primary" class="mt-4">
    Add score
  </a>
  }
</ng-container>
}
