<app-page-container>
  <app-h2>Submit score</app-h2>
  <p class="mb-4">
    To override your previous score, match the name it was submitted with. If
    you submit an incorrect score, contact an admin to correct it.
  </p>

  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit()">
    <mat-error *ngIf="formError" class="mb-3">{{ formError }}</mat-error>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field appearance="fill" class="full-width-mobile">
          <mat-label>Game</mat-label>

          <mat-select [formControl]="form.controls.divisionId" required>
            <mat-option
              *ngFor="let division of divisions$ | async"
              [value]="division.id"
            >
              {{ division.game.name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="form.controls.divisionId.errors?.['required']">
            Can not be empty
          </mat-error>
          <mat-error *ngIf="form.controls.divisionId.errors?.['min']">
            Can not be empty
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field appearance="fill" class="full-width-mobile">
          <mat-label>Name</mat-label>
          <input matInput [formControl]="form.controls.username" required />
          <mat-error *ngIf="form.controls.username.errors?.['required']">
            Can not be empty
          </mat-error>
          <mat-error *ngIf="form.controls.username.errors?.['minlength']">
            Can not be shorter than 3 characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field appearance="fill" class="full-width-mobile">
          <mat-label>Score</mat-label>
          <input matInput [formControl]="form.controls.points" required />
          <mat-error *ngIf="form.controls.points.errors?.['required']">
            Can not be empty
          </mat-error>
          <mat-error *ngIf="form.controls.points.errors?.['minlength']">
            Can not be shorter than 3 characters
          </mat-error>
          <mat-error *ngIf="form.controls.points.errors?.['pattern']">
            Can only be a number
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
    >
      Submit score
    </button>
  </form>
</app-page-container>
