<app-page-container title="Score">
  <form class="container mt-5">
    <div class="row-cols-1">
      <mat-form-field appearance="fill">
        <mat-label>Division</mat-label>
        <input matInput/>
      </mat-form-field>
    </div>

    <div class="row-cols-1">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput/>
      </mat-form-field>
    </div>

    <div class="row-cols-1">
      <mat-form-field appearance="fill">
        <mat-label>Score</mat-label>
        <input matInput/>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button>Submit</button>
  </form>
</app-page-container>
