<div class="columns-container">
  @if (filteredDivisions.length === 0) {
    <div class="d-flex justify-content-center align-items-center vw-100 mat-h1">
      <p>No divisions have been setup yet</p>
    </div>
  } @else {
    <div class="container-fluid">
      <div class="row justify-content-center h-100">
        @for (division of filteredDivisions; track division.id) {
          <div class="col-md-6 col-xl-4 col-xxl-3">
            <app-division-column [division]="division"/>
          </div>
        }
      </div>
    </div>
  }
</div>
