@use "@angular/material" as mat;
@use "./variables" as vars;
@import "@fontsource/audiowide";
@import "@fontsource/montserrat";

@include mat.all-component-typographies();
@include mat.core();

$my-typography: mat.m2-define-typography-config(
  $font-family: "Montserrat",
  $headline-2:
    mat.m2-define-typography-level(
      $font-family: "Audiowide",
      $font-size: 3rem,
      $line-height: 1,
    ),
  $headline-3:
    mat.m2-define-typography-level(
      $font-family: "Audiowide",
      $font-size: 2rem,
    ),
  $body-2:
    mat.m2-define-typography-level(
      $font-size: 1rem,
      $line-height: 1.5,
    ),
  $button:
    mat.m2-define-typography-level(
      $font-size: 1rem,
    ),
);

$my-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: vars.$primary-palette,
      accent: vars.$accent-palette,
    ),
    typography: $my-typography,
  )
);

@include mat.core-theme($my-theme);
@include mat.all-component-typographies($my-theme);
@include mat.all-component-themes($my-theme);
