@use '@angular/material' as mat;
@use 'variables' as vars;

@include mat.all-component-typographies();
@include mat.core();

$my-theme: mat.m2-define-dark-theme((
  color: (
    primary: vars.$primary-palette,
    accent: vars.$accent-palette,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
