.title {
  font-size: 5em;
}

.row {
  height: 30vh;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.score {
  font-weight: bold;
}

.user {
  text-align: center;
}

.fit-text {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
