@use "/src/app/scss/variables" as vars;

.item {
  flex-grow: 1;
}

.fit-text {
  height: 33vh;
}

.ticker-container {
  background-color: vars.$dark-gray;
  color: vars.$broken-white;
  display: flex;
  flex-direction: column;
  height: 100%;
}
