<table mat-table class="custom-table" [dataSource]="issues$">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let issue">{{ issue.id }}</td>
  </ng-container>

  <ng-container matColumnDef="game">
    <th mat-header-cell *matHeaderCellDef>Game</th>
    <td mat-cell *matCellDef="let issue">
      {{ (getGame$(issue.gameId) | async)?.name ?? issue.gameId }}
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let issue">{{ issue.username }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let issue">
      {{ issue.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let issue">
      {{ issue.status }}
    </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let issue">
      {{ issue.timestamp | date: "d MMM y, HH:MM" }}
    </td>
  </ng-container>

  <!-- Delete -->
  <!--  <ng-container matColumnDef="delete">-->
  <!--    <th mat-header-cell *matHeaderCellDef>Delete</th>-->
  <!--    <td mat-cell *matCellDef="let issue">-->
  <!--      <button mat-button (click)="delete(game)">-->
  <!--        <mat-icon>delete</mat-icon>-->
  <!--      </button>-->
  <!--    </td>-->
  <!--  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
