<mat-toolbar class="toolbar">
  <h1 class="logo">Agon {{ displayTitle }}</h1>
  <!-- Small viewport -->
  <div class="d-flex w-100 d-sm-none">
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Navigation menu" (click)="toggleNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!-- Large viewport -->
  <nav>
    <!--    <ul class="navigation d-sm-flex" [ngClass]="navOpen ? 'd-block' : 'd-none'">-->
    <ul
      class="navigation d-sm-flex"
      [ngClass]="navOpen ? 'open-nav' : 'closed-nav'"
    >
      <li><a routerLink="/games">Games</a></li>
      <!--      <li><a routerLink="/leaderboard/period">Period</a></li>-->
      <li><a routerLink="/leaderboard/high-score">Leaderboard</a></li>
      <li><a routerLink="/score">Submit score</a></li>

      <ng-container *ngIf="isAuthenticated"> </ng-container>

      <span class="spacer"></span>

      @if (isAuthenticated) {
      <li><a routerLink="/admin/divisions">Divisions</a></li>
      <li><a routerLink="/admin/games">Games</a></li>
      <li><a routerLink="/admin/scores">Scores</a></li>
      <li>|</li>
      <li>
        <button mat-button (click)="logout()">Log out</button>
      </li>
      } @else {
      <li><a routerLink="/login">Log in</a></li>
      }
    </ul>
  </nav>
</mat-toolbar>
