@use "../../scss/variables" as vars;

.toolbar {
  height: vars.$nav-bar-height;
  width: 100%;

  nav {
    flex-grow: 1;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 0 0 0 3em;
      padding: 0;
      font-size: 1.2rem;

      li {
        margin-right: 1em;

        a {
          color: vars.$broken-white;

          &:hover {
            color: vars.$translucent-broken-white;
          }
        }
      }
    }

    .spacer {
      flex-grow: 1;
    }
  }
}
