@use "../../scss/variables" as vars;

.toolbar {
  background-color: vars.$dark-gray;
  color: vars.$broken-white;

  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 3em;
    padding: 0;

    li {
      margin-right: 1em;

      a {
        color: vars.$broken-white;

        &:hover {
          color: vars.$translucent-broken-white;
        }
      }
    }
  }
}
