@use "../../scss/variables" as vars;
@import "@fontsource/audiowide";

.toolbar {
  height: vars.$nav-bar-height;
  width: 100%;

  .logo {
    font-family: "Audiowide", sans-serif;
  }

  .spacer {
    flex-grow: 1;
  }

  .collapsable-nav {
    flex-grow: 1;

    nav {
      ul {
        flex-direction: row;
        list-style: none;
        margin: 0 0 0 3em;
        padding: 0;
        font-size: 1.2rem;

        li {
          margin-right: 1.5em;

          a {
            color: vars.$broken-white;
            text-decoration: none;

            //&:hover {
            //  color: vars.$translucent-broken-white;
            //}
          }
        }
      }
    }
  }

  // Small devices (landscape phones, 576px and down)
  @media (max-width: 576px) {
    & {
      position: fixed;
      z-index: 3;
    }

    .collapsable-nav {
      position: absolute;
      left: 0;
      top: vars.$nav-bar-height;
      width: 100vw;
      z-index: 1;
      margin: 0 !important;
      transition: opacity 0.2s ease, visibility 0.2s ease;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
      //height: 100vh;
      height: calc(100vh - #{vars.$nav-bar-height} - #{vars.$footer-height});
      background-color: vars.$dark-gray;

      nav {
        ul {
          margin: 0;

          li {
            margin-right: 0 !important;

            a,
            button {
              display: block;
              text-align: center;
              padding: 0.7rem 0;
            }
          }
        }
      }
    }

    .open-nav {
      opacity: 100;
      visibility: visible;
    }

    .closed-nav {
      opacity: 0;
      visibility: hidden;
    }
  }
}
