<mat-toolbar class="toolbar">
  <h1>Agon {{ displayTitle }}</h1>
  <nav>
    <ul>
      <li><a routerLink="/games">Games</a></li>
      <!--      <li><a routerLink="/leaderboard/period">Period</a></li>-->
      <li><a routerLink="/leaderboard/high-score">Leaderboard</a></li>
      <li><a routerLink="/score">Add Score</a></li>

      <ng-container *ngIf="isAuthenticated"> </ng-container>

      <span class="spacer"></span>

      @if (isAuthenticated) {
      <li><a routerLink="/admin/divisions">Divisions</a></li>
      <li><a routerLink="/admin/games">Games</a></li>
      <li><a routerLink="/admin/scores">Scores</a></li>
      <li>|</li>
      <li>
        <button mat-button (click)="logout()">Log out</button>
      </li>
      } @else {
      <li><a routerLink="/login">Log in</a></li>
      }
    </ul>
  </nav>
</mat-toolbar>
