<mat-toolbar class="toolbar">
  <h1>Agon {{ displayTitle }}</h1>
  <nav>
    <ul>
      <!--      <li><a routerLink="/leaderboard/period">Period</a></li>-->
      <li><a routerLink="/leaderboard/high-score">Leaderboard</a></li>
      <li><a routerLink="/score">Add Score</a></li>


      <ng-container *ngIf="isAuthenticated">
        <li><a routerLink="/admin/games">Games</a></li>
        <li><a routerLink="/admin/scores">Scores</a></li>
      </ng-container>

      <span class="spacer"></span>

      <li *ngIf="!isAuthenticated"><a routerLink="/login">Log in</a></li>
      <li *ngIf="isAuthenticated">
        <button mat-button (click)="logout()">Log out</button>
      </li>
    </ul>
  </nav>
</mat-toolbar>
