<app-ticker-item-container>
  <ng-container *ngIf="currentTopScores$ | async as currentTopScores">
    <!-- Scores available -->
    <div class="item-container">
      <div class="item">
        <span class="text-uppercase fw-bold fit-text">
          #2 {{ currentTopScores.length > 1 ? currentTopScores[1].username : "---" }}
        </span>
      </div>
    </div>
    <div class="item-container">
      <div class="item">
        <div class="fit-text">
          {{ currentTopScores.length > 1 ? currentTopScores[1].points.toLocaleString() : "" }}
        </div>
      </div>
    </div>
    <div class="item-container">
      <div class="item">
        <span class="text-uppercase fw-bold fit-text">
          #3 {{ currentTopScores.length > 2 ? currentTopScores[2].username : "---" }}
        </span>
      </div>
    </div>
    <div class="item-container">
      <div class="item">
        <div class="fit-text">
          {{ currentTopScores.length > 2 ? currentTopScores[2].points.toLocaleString() : "" }}
        </div>
      </div>
    </div>
  </ng-container>
  {{ fitText() }} <!-- Has to be after all fit-text classes -->
</app-ticker-item-container>
