<h2>Edit Game</h2>

<form
  *ngIf="form"
  [formGroup]="form"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit()"
>
  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill" class="full-width-mobile">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="form.controls.name" required />
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill" class="full-width-mobile">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          [formControl]="form.controls.description"
          rows="4"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>How to Play</mat-label>
        <textarea
          matInput
          [formControl]="form.controls.howToPlay"
          rows="4"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Collection history</mat-label>
        <textarea
          matInput
          [formControl]="form.controls.collectionHistory"
          rows="4"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill" class="full-width-mobile">
        <mat-label>Year</mat-label>
        <input matInput [formControl]="form.controls.year" />
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill" class="full-width-mobile">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="form.controls.category">
          @for (category of categories; track category) {
          <mat-option [value]="GameCategory[category]">
            {{ GameCategory[category] }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field appearance="fill" class="full-width-mobile">
        <mat-label>Status</mat-label>
        <mat-select [formControl]="form.controls.status">
          @for (status of statuses; track status) {
          <mat-option [value]="GameStatus[status]">
            {{ GameStatus[status] }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button
    type="submit"
    mat-raised-button
    [disabled]="form.invalid"
    color="primary"
  >
    Submit
  </button>
</form>
