<app-ticker-item-container>
  <ng-container *ngFor="let highScore of (currentHighScore$ | async) as highScores; let i = index">
    <!-- No scores -->
    <div class="item-container" *ngIf="highScores.length <= 1">
      <div class="item"></div>
      <div class="item">
        <div class="ticker-title text-uppercase">No runner up</div>
      </div>
      <div class="item">
        <div class="ticker-title text-uppercase">scores posted yet</div>
      </div>
    </div>

    <!-- Score 2 & 3 -->
    <ng-container *ngIf="i === 1 || i === 2">
      <div class="item-container">
        <div class="item">
          <div class="text-uppercase fit-text font-weight-bold">#{{i + 1}} {{highScore.username}}</div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <div class="text-uppercase  fit-text">{{highScore.score.toLocaleString()}}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-ticker-item-container>
