<app-ticker-item-container>
  <div class="row">
    <div class="col-2 offset-2">
      <img src="/assets/instagram.png" alt="Instagram logo" class="img-fluid">
    </div>
    <div class="col-2 offset-1">
      <img src="/assets/youtube.png" alt="YouTube logo" class="img-fluid">
    </div>
    <div class="col-2 offset-1">
      <img src="/assets/facebook.png" alt="Facebook logo" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="ticker-title d-block custom-title">@overtinker</span>
      <span class="ticker-title custom-title">.projects</span>
    </div>
  </div>
  {{ fitText() }}
</app-ticker-item-container>
