<div
  class="column-container"
  [ngStyle]="{
    backgroundColor: gameStyle.backgroundColor,
    backgroundImage: gameStyle.backgroundImage
      ? 'url(' + gameStyle.backgroundImage + ')'
      : ''
  }"
>
  <a routerLink="/games/{{game.id}}" class="game-link">
    @if (gameStyle.headerImage) {
      <div 
      [ngStyle]="{ 
        backgroundImage: 'url(' + gameStyle.headerImage + ')',
        height: displayLarge ? '400px' : '200px'
       }" 
      class="header-img-div"></div>
    }
    <div class="game-title">
      <h2 class="mat-headline-4 m-0">
        {{ game.name }}
      </h2>
    </div>
  </a>

  @for (score of scores$ | async; track score.id) {
    <app-score-card
      [score]="score"
      [gameStyle]="game.gameStyle"
    />
  }
</div>
