<div
  class="column-container"
  [ngStyle]="{
    backgroundColor: gameStyle.backgroundColor,
    backgroundImage: gameStyle.backgroundImage
      ? 'url(' + gameStyle.backgroundImage + ')'
      : ''
  }"
>
  <img
    *ngIf="gameStyle.headerImage"
    [src]="gameStyle.headerImage"
    [alt]="game.name"
    class="header-img"
  />
  <h2 *ngIf="!gameStyle.headerImage" class="mat-display-1">
    {{ game.name }}
  </h2>

  <app-score-card
    *ngFor="let score of scores$ | async"
    [score]="score"
    [gameStyle]="game.gameStyle"
  ></app-score-card>
</div>
