@use "./app/scss/variables" as vars;
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 11px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: vars.$broken-white;
}

.ticker-title {
  font-size: 7rem;
  font-weight: bold;
}

a:hover {
  color: vars.$amber !important;
}

table {
  border-radius: 5px !important;
  overflow: hidden;
}

// Material overrides
table {
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    padding: 0 1.5em !important;
  }

  .mat-mdc-header-cell {
    font-weight: 600 !important;
  }

  //thead {
  //  background-color: vars.$dark-gray !important;
  //}
  //
  //tbody tr:first-child {
  //  border-top: 2px solid vars.$dark-gray;
  //}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html,
  .mat-mdc-header-cell {
    font-size: 16px;
  }
}
