@use "./app/scss/variables" as vars;
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 11px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: vars.$broken-white;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  padding: 0 1.5em !important;
}

.ticker-title {
  font-size: 7rem;
  font-weight: bold;
}

a:hover {
  color: vars.$amber !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}
